{%extends 'base.html'%}
{%block content%}
{%if user.is_authenticated%}
<style>
.admin-div{
    color:black;
    font-size:1rem;
    
    border: 1px solid white;
  
  }
  .admin-div:hover{
    border-color: #ff8d1e;
    color: #ff8d1e;
  }
  </style>
<div class=row>
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class=titlemain>Admin Page</div>
        <ul>
            <li>
               <a href="/post/"> <div class="admin-div">Add New Event</div></a>
            </li>
            <li>
                <a href="/accounts/add_member_profile/"> <div class="admin-div">Add New Member</div></a>
            </li>
            <li>
                <div class="admin-div edit_about">Edit About</div>
            </li>
            <div class="edit_about_div" style="display:none">
            <form action="/about" method=post>
                <textarea rows=5 class=form-control name=about placeholder="Enter For Your New About"></textarea>
                {%csrf_token%}
                <button type=submit class="btn btn-md form-control">Submit</button>
            </form>
            
            <button  class="btn btn-md form-control cancel_edit">Cancel</button>
            </div>
            <li>
                <a href="/upcoming_events/">  <div class="admin-div">Delete Events</div></a>
            </li>
            <!-- <li>
                <a href="/#team"> <div class="admin-div">Remove Member</div></a>
            </li> -->
            <li>
                <a href="/#videos"> <div class="admin-div">Add Videos</div></a>
            </li>
        </ul>
    </div>
    <div class="col-md-3"></div>
</div>
<script>
$(".edit_about").click(function(){
    console.log("clicked");
    $(".edit_about_div").css("display","block");
})
$(".cancel_edit").click(function(){
    $(".edit_about_div").css("display","none");
})
</script>
{%endif%}
{%endblock%}