{% extends 'base.html' %}
{% block content %}
<div class="container text-white">
<div class="title title-expanded">{{event.title|title}}</div>
<p class=date>{{event.created_date}}</p>
<p class=desc>{{event.description}}</p>
</div>
<main>
 
{% for image in  event.images %}
<div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 profilecontainer">
    <div class="imagecontain ">
        <a href="{{image.image.url}}" data-toggle="lightbox" data-gallery="example-gallery" data-type="image">
      <img class="img" src={{image.thumbnail.url}} style="height:100%;width:100%;object-fit:cover">
    </a>
      
        
    </div>

  </div>

    

      <a href="{{image.image.url}}" data-toggle="lightbox" data-gallery="example-gallery" data-type="image">
							
        <img class ="img img-fluid img-thumbnail img-responsive" src={{image.thumbnail.url}} height=400px width=100%>
        </a>

{% endfor %}


{% endblock content %}
{% block script %}
{% endblock script %}