{% extends "base.html" %}
{% block content %}
{<main>
{% for event in  events%}
{% for eventimage in event.images.all %}

<div class="imagecontain" style="height:auto " >
    

      <a href="{{eventimage.image.url}}" data-toggle="lightbox" data-gallery="example-gallery" data-type="image" data-title={{event.title}} >
   
							
        <img class ="img-thumbnail" src={{eventimage.thumbnail.url}}  height=100% width=100% >
        </a>
  </div>
  {% endfor %}
{% endfor %}
</main>
{% endblock content %}