{% extends "base.html" %}
{% block content %}
<p class="postid" id={{pid}}></p>
<div class="row text-white">
    <div class="col-md-3 col-sm-0">
        {% for person in people %}
<ul>


{% if person.truth %}
<li>
{{person.first_name}} {{person.last_name}}
</li>

{% endif %}




</ul>
    
    {% endfor %}
    
    </div>
    <div class="col-md-6 col-sm-12">
    {% for person in people %}
<ul>
<li>
{{person.first_name}} {{person.last_name}}<span>
{% if person.truth %}
<input type=checkbox id={{person.id}} class=checkbox checked>
{% else %}
<input type=checkbox id={{person.id}} class=checkbox>
{% endif %}

</span>
</li>

</ul>
    
    {% endfor %}
    
   </div>
    <div class="col-md-3 col-sm-0"></div>
    




    </div>
</div>
{% endblock content %}

{% block script %}
        $(".checkbox").change(function(e){
            console.log('clicked');
           
            e.preventDefault();
           var id= $(this).attr("id");
           var pid=$(".postid").attr("id");
           $.ajax({
                    url:'/eventapp/add_member/'+pid+'/'+id,
                    type:'POST',
                    data:{ csrfmiddlewaretoken: "{{ csrf_token }}"},
                    success:function(data){
                        alert(data.data);
                      
                    } 
        })
    })
{% endblock script %}